<nav class="menu">
  <% menu.forEach(function(group) { %>
    <h5><%= group.title %></h5>
    <hr />
    <ul class="no-bullet side-nav <%= group.type %>" data-magellan>
      <% group.list.forEach(function(title) { %>
        <li>
          <a href="#<%= title.replace(/\./g, '_') %>" data-for="<%= title.replace(/\./g, '_') %>">
            <%= title %>
          </a>
        </li>
        <% }) %>
    </ul>
    <% }) %>
</nav>
<nav class="http-api-menu">
<ul class="no-bullet side-nav api-docs">
  <li>
    <a href="http://petstore.swagger.io/?url=http://agile-iot.github.io/agile-api-spec/docs/swagger/api.swagger.yml"><small>[alpha]</small> REST API docs </a>
  </li>
  <li>
    <a href="../swagger/api.swagger.yml"><small>[alpha]</small>SWAGGER API spec</a>
  </li>
  <li>
    <a href="../raml/api.raml"><small>[alpha]</small>RAML API spec</a>
  </li>
</ul>
